# Environment
.env
.venv*
venv*
env*

# Cache
.cache
.cache/
__pycache__/

.vscode/
.DS_Store

# Docs
*docs_output*
*samples*
.aider.tags.cache.v4/cache.db
.aider.tags.cache.v4/cache.db-shm
.aider.tags.cache.v4/cache.db-wal
