chardet==5.2.0
code2flow
faiss-cpu
gitpython==3.1.43
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-text-splitters
markdown==3.6
ordered-set==4.1.0
pyautogen
PyGithub==2.3.0
python-dotenv==1.0.1
pytest==8.2.2
