python-dotenv==1.0.1
pytest==8.2.2
gitpython==3.1.43
astunparse==1.6.3
semantic-kernel[google-gemini]==0.9.6b1
ordered-set==4.1.0
PyGithub==2.3.0
chardet==5.2.0
markdown==3.6

pyautogen[gemini,lmm]~=0.2
google-generativeai 
pydantic==2.7.1
